@import 'mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.nav {
    height: 104px;
    padding: 20px;

    @include break-mobile-small {    
        height: 112px;
    }

    &__inner-wrapper {
        height: 100%;
        max-width: 1140px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;

        &__left {
            height: 100%;
            display: flex;
            align-items: center;

            img {
                max-width: 150px;
            }
        }

        &__right {
            height: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;

            ul {
                list-style-type: none;
                display: flex;
                align-items: center;

                li {
                    display: inline-block;
                    font-weight: 400;
                    font-size: 14px;
                    margin-right: 20px;

                    @include break-mobile-small {    
                        font-size: 13px;
                    }

                    @include break-tablet {    
                        margin-right: inherit;
                    }

                    a {
                        text-decoration: none;
                        color: #000;
                        padding: 10px;
                        position: relative;

                        &:hover {
                            
                            &::after {
                            content: '';
                            position: absolute;
                            height: 3px;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            background-color: #ecc511;
                            margin: 0 10px;
                            }
                        }
                    }
                }

                .tlf {
                    color: #ecc511;
                }
            }

            .top {
                display: flex;
                justify-content: flex-end;
                margin-bottom: 10px;
                align-items: center;

                @include break-mobile-small {    
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    margin-right: 20px;
                    margin-top: 8px;
                }
                
                .fas {
                    padding-right: 10px;
                }

                li {
                    margin-right: 30px;
                    max-width: 200px;
                    transition: 0.3s;
                    white-space: nowrap;

                    @include break-mobile {    
                        overflow: hidden;
                        max-width: 0px;
                        margin-right: 15px;
                    }
                }

                i {
                    cursor: pointer;
                }

                .fas, .fab {
                    font-size: 20px;
                    color: #7a0202;

                    @include break-mobile-small {    
                        font-size: 18px;
                    }
                }
            }
            
            .bottom {
                margin-top: 10px;

                @include break-tablet {    
                    position: absolute;
                    width: 100%;
                    left: 0;
                    right: 0;
                    display: flex;
                    flex-direction: column;
                    top: 104px;
                    margin-top: 0px;
                    background-color: #fff;
                    height: 0px;
                    overflow: hidden;
                    // height: 262px;
                    transition: 0.4s;
                }
                
                ul {

                    @include break-tablet {    
                        flex-direction: column;
                    }

                    :last-child {
                        margin-right: 0;
    
                        @include break-tablet {    
                            margin-right: inherit;
                            margin-bottom: 20px;
                        }
                    }
    
                    :last-child a {
                        padding-right: 0;
    
                        @include break-tablet {    
                            margin-right: 10px;
                        }
    
                        &::after {
                            margin-right: 0!important;
                        }
                    }

                    li {

                        @include break-tablet {    
                            margin-top: 20px;
                        }
                    }
                }
            }
        }
    }
}

.icon-wrapper {
    white-space: nowrap;

    @include break-mobile-small {    
        display: flex;
        align-items: center;
        height: 20px;
    }
}

// interferes with toggling on mobile devices
// .icon-wrapper:hover li {
    
//     @include break-mobile {
//         max-width: 200px;
//         transition-delay: 0.4s;
//     }
// }

.hero-section {
    height: 500px;
    background-image: url('../../media/img/slider.jpg');
    background-size: cover;
    background-position: 50% 50%;
    padding: 0px 20px;

    @include break-mobile {    
        height: 350px;
    }

    &__inner-wrapper {
        max-width: 1140px;
        margin-left: auto;
        margin-right: auto;
        height: 100%;
        display: flex;
        align-items: center;
    }

    &__content {

        .top {
            font-size: 50px;
            font-weight: 700;
            line-height: 1;

            @include break-mobile {    
                font-size: 32px;
            }
        }

        .bottom {
            font-size: 70px;
            margin-bottom: 30px;
            font-weight: 900;
            line-height: 1.2;

            @include break-mobile {    
                font-size: 38px;
            }
        }

        h3 {
            color: #fff;
            text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
        }

        a {
            font-size: 20px;
            color: #fff;
            text-decoration: none;
            padding: 8px 25px;
            background-color: rgba(122, 2, 2, 0.75);
            transition: 0.4s;

            &:hover {
                background-color: rgba(122, 2, 2, 1);
            }
        }
    }
}

.section-wrapper {
    padding: 0px 20px;
}

.section-content-wrapper {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    padding: 50px 0;
}

#section-1-content {
    text-align: center;

    h4 {
        font-size: 24px;
        font-weight: 800;
        line-height: 1.3;

        @include break-mobile {    
            font-size: 20px;
        }
    }

    p {
        margin-top: 15px;
        line-height: 1.3;

        @include break-mobile {    
            font-size: 15px;
        }
    }

    .grid {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;

        @include break-tablet-small {    
            flex-wrap: wrap;
        }

        > :first-child, > :nth-child(2) {

            @include break-tablet-small {    
                margin-bottom: 50px;
            }
        }

        > :nth-child(3) {

            @include break-mobile-small {    
                margin-bottom: 50px;
            }
        }

        .grid-child {
            display: flex;
            align-items: center;
            flex-direction: column;

            @include break-tablet-small {    
                width: 50%;
            }

            @include break-mobile-small {    
                width: 100%;
            }

            .img {
                height: 250px;
                width: 250px;
                border-radius: 50%;
                background-size: cover;
                background-position: 50% 50%;

                @include break-tablet {    
                    height: 200px;
                    width: 200px;
                }

                @include break-tablet-small {    
                    height: 250px;
                    width: 250px;
                }

                @include break-mobile {    
                    height: 200px;
                    width: 200px;
                }
            }

            .text {
                margin-top: 25px;
                font-size: 17px;
                font-weight: 800;
            }
        }

        .grid-child-1-img {
            background-image: url('../../media/img/behandling.png');
        }

        .grid-child-2-img {
            background-image: url('../../media/img/vaadrum.png');
        }

        .grid-child-3-img {
            background-image: url('../../media/img/linoleum.png');
        }

        .grid-child-4-img {
            background-image: url('../../media/img/traegulve.png');
        }
    }
}

#section-2 {
    background-image: url('../../media/img/trae.jpg');
    background-size: cover;
    background-position: 50% 50%;
}

#section-2-content {

    .grid {

        .top {
            display: flex;
            flex-direction: row;

            @include break-mobile {    
                flex-direction: column;
            }
            
            p {
                margin-top: 20px;

                @include break-mobile {    
                    font-size: 15px;
                }
            }
        }

        &__left {
            margin-right: 15px;
            width: 50%;

            @include break-mobile {    
                width: 100%;
                margin-right: 0px;
            }
        }

        &__right {
            margin-left: 15px;
            width: 50%;

            @include break-mobile {    
                width: 100%;
                margin-left: 0px;
                margin-top: 50px;
            }
        }

        .bottom {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            margin-top: 50px;

            @include break-mobile {    
                flex-direction: column;
            }

            >:first-child {

                @include break-mobile {    
                    margin-top: 0px!important;
                }
            }
            
            .img {
                width: 20%;
                justify-content: center;

                @include break-mobile {    
                    margin-top: 50px;
                    width: 35%;
                }

                @include break-max-399 {    
                    width: 60%;
                }

                img {
                    width: 100%;
                    display: block;
                }
            }
        }
    }
}

#section-3-content {
    text-align: center;
    
    p {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        max-width: 690px;
        line-height: 1.5;

        @include break-mobile {    
            font-size: 15px;
        }
    }

    .grid {
        margin-top: 30px;
        display: flex;
        height: 350px;

        @include break-mobile {    
            flex-direction: column;
            height: auto;
        }

        &__left {
            width: 50%;
            margin-right: 20px;

            @include break-mobile {    
                width: 100%;
                margin-right: 0px;
            }

            form {
                display: flex;
                flex-direction: column;
                height: 100%;

                input, textarea {
                    padding: 5px 10px;
                    margin-bottom: 8px;
                    border: 1px solid #cccccc;
                }

                textarea {
                    height: 100%;
                }

                button {
                    background-color: #7a0202;
                    color: #fff;
                    padding: 7px 10px;
                    border: 0;
                    font-size: 12px;
                }
            }
        }

        &__right {
            width: 50%;
            margin-left: 20px;

            @include break-mobile {    
                width: 100%;
                margin-left: 0px;
                margin-top: 25px;
                height: 250px;
            }
        }
    }
}

footer {
    background-color: #222;
    padding: 0px 20px;

    .footer-inner {
        max-width: 1140px;
        margin-right: auto;
        margin-left: auto;
        padding: 30px 0;

        .grid {
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            @include break-tablet-small {    
                flex-direction: column;
                align-items: center;
            }

            > :first-child {

                @include break-tablet-small {    
                    margin-top: 0px;
                }
            }

            &__item {
                color: #fff;
                text-align: right;
                line-height: 1.3;

                @include break-tablet-small {    
                    max-width: 300px;
                    text-align: center;
                    margin-top: 25px;
                }

                img {

                    @include break-tablet-small {    
                        width: 100%;
                    }
                }
                
                h5 {
                    font-size: 20px;
                }
                
                p {
                    font-size: 12px;
                }
            }
        }

        .info {
            display: flex;
            justify-content: space-between;
            margin-top: 25px;

            @include break-tablet-small {    
                flex-direction: column;
                justify-content: center;
            }

            &__left {

                @include break-tablet-small {   
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                }

                :last-child {

                    &::after {
                        content: none!important;
                    }
                }

                span {
                    color: #fff;
                    position: relative;
                    margin-right: 15px;
                    font-size: 14px;

                    &::after {
                        content: '';
                        position: absolute;
                        right: -10px;
                        height: 100%;
                        width: 1px;
                        background-color: #fff;
                    }
                }
            }

            &__right {
                color: #fff;
                font-size: 11px;

                @include break-tablet-small {   
                    margin-top: 25px;
                    display: flex;
                    justify-content: center;
                }

                span {

                    a {
                        text-decoration: none;
                        color: #fff;
                    }
                }
            }
        }
    }
}

#mobile-menu-btn {
    display: none;

    @include break-tablet {    
        display: flex;
        align-items: center;
        cursor: pointer;
        justify-content: flex-end;
    }

    span {
        font-size: 14px;
        font-weight: 700;
        color:rgba(122, 2, 2, 1);
        line-height: 1;
        margin-left: 5px;
    }
}

.fa-chevron-circle-down {
    font-size: 22px;
    color:rgba(122, 2, 2, 1);
    transform: rotate(0deg);
    transition: 0.4s;
}

.mobile-menu-height {
    height: 272px!important;
}

.spin {
    transform: rotate(180deg);
}

.show-info {
    max-width: 200px!important;
}

.white-box-trail {
    height: 20px;
    width: 20px;
    background-color: #fff;
}